.folders {
    margin: 25px auto;
    display: inline-block;
}
.clear-path {
    display: none;
    background-color: red;
    padding: 5px 15px;
    height: 100%;
    margin-left: 15px;
    color: #fff;
}